.navBarNew a{
  color: white;
}
.navBarScroll a{
  color: black;
}

.bannerContainer{

  background-image: url("banner.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: relative;

}
#bannerLeft{
  z-index: 10;
  float: left;
  width: 50%;
  height: 100%;

}
#bannerLeftText{
  text-align: center;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70px;
  padding-top: 25%;
  margin-left: 30%;
}


#demoButton{
  width: 150px;
  height: 60px;
  color: rgb(225, 56, 255);
  background-color: white;
  border: none;
  padding-top: 19px;
  border-radius: 30px;
  transition: 0.3s;
  margin-top: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

#demoButton:hover{
  background-color: rgb(225, 56, 255);
  box-shadow: 0px 15px 20px rgb(140, 40, 158);
  color: #fff;
  transform: translateY(-7px);
}

#bannerRight{
  float: right;
  width: 50%;
  height: 100%;
}
#bannerScreenShot{
  display: block;
  width: 350px;
  margin-left: 20%;
  margin-top: 13%;
  transition: 0.5s;

}
#bannerScreenShot:hover{
  transform: translateY(-10px);

}
.homeBody1{
  height: 800px;
  width: 100%;
  background-color: white;
  color:black;
  
}
.homeBody2{
  height: 700px;
  width: 100%;
  background-color: #1A1A1A;
  color:white;
}


.homeBody1Header{
  text-align: center;
  font-size: 50px;
  padding-top: 60px;
  color:rgb(107, 107, 107);
}

.homeBody2Header{
  text-align: center;
  font-size: 50px;
  padding-top: 60px;
  color:white;
}
iframe{
  display: block;
  margin: auto;
  padding: 40px;
}

.halfLeft{
  height: 80%;
  width:  50%;
  float: left;
}
#aboutUsText{
  color: rgb(107, 107, 107);
  font-size: 17px;
  margin: 40px;
}
.halfRight{
  height: 80%;
  width:  50%;
  float: right;
}
#ourTeamTitle{
  font-size: 40px;
  color: rgb(107, 107, 107);
  text-align: center;
}
#pictureGrid{
  display: grid;
  grid-template-areas: 
  "1 2 3"
  "1t 2t 3t"
  "4 5 6"
  "4t 5t 6t";
  margin: 50px;
}
.picture1{
  width: 5%;
  border: none;
  border-radius: 50%;
}
#pictureDesc{
  grid-area: 1t;
  font-size: 10px;
}